body {
  background-color: #eceff1;
  /*#F7B530*/
}
section {
  width: 100%;
}
.nav-extended {
  background-color: #1565c0;
}

img.logo {
  margin-left: 0.2%;
  margin-right: 0.7%;
  position: absolute;
}
a.brand-logo {
  position: absolute;
}
.nav-content {
  background-color: #0d47a1;
}

a.head:hover {
  color: #eceff1;
}

button {
  background-color: #1565c0;
  border: none;
  color: #eceff1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1565c0;
  color: #eceff1;
  align-items: flex-end;
  text-align: right;
}

.p {
  text-align: center;
}
